<ion-header>

  <ion-navbar *ngIf="!next" >
    <ion-title>Create your Shop</ion-title>
  </ion-navbar>
<ion-toolbar *ngIf="next"  color="primary">
  <ion-searchbar [(ngModel)]="search_map" (ionInput)="searchPlaces()" placeholder="Search for a place"></ion-searchbar>
</ion-toolbar>
</ion-header>


<ion-content padding>

 
 
<ion-grid>
  <ion-row *ngIf="!next" >
    <div class="home-theatre">
        <img src="{{pharmData.logo}}" alt="" class="logo-img animated bounce">
          <button ion-button icon-only class="btn-left" >
            <ion-icon name="trash"></ion-icon>
          </button>
    </div>
  </ion-row>
  <ion-row *ngIf="!next" >
    <ion-col>

      <form [formGroup]="shopForm">
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <button ion-button round (click)="presentActionSheet()">Choose logo</button>
       
        <button ion-button round (click)="continue()">Next</button>
      </form>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="next" >
    <div id="jack">

    </div>
            <button ion-button round (click)="savePharmacy()">Next</button>

  </ion-row>
 </ion-grid>
</ion-content>
